#header {
    height: 100px;
    width: 100%;
    background: #7f8395fc;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#header .title {
    color: white;
    font-size: 12px;
    text-align: left;
    width: 55%;
    text-transform: none;
}

.header .user-infos{
    width: 40%;
}

#header .user-infos .text {
    color: white;
    font-size: 12px;
    margin-bottom: 0;
    text-align: right;
}


#header .user-infos .btn {
    background: #61636efc;
    line-height: 25px;
    text-transform: none;
    margin-top: 10px;
}

@media screen and (min-width: 720px) {
    #header .title {
        font-size: 20px;
    }

    #header .user-infos .text {
        font-size: 16px;
    }
} 